img{
    width: 50%;
    height: auto;
}

body{
    background-color: rgba(255, 243, 205, 0.852);
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.5rem;
}

section div{
    display: flex;
    justify-content: center;
    gap:10px;
}


section p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:6px;
    width: 90vw;
}

@media (min-width:864px){
    img{
        width:20%;
        height: auto;
    }
    section p{
        width: 70vw;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 2rem;
    }
}
