*{
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: Arial;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    min-height: 100vh;
}

main{
    padding-top: 20px;
}

nav {
    padding:5px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.834);
    border: solid gray 1px;
}

nav p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

details ul{
    display:flex;
    flex-direction: column;
    list-style: none;
    gap: 1px;
    margin: 0;
    padding: 0;
}
.current-page{
    background-color: lightgray;
    font-weight: bold;
    text-decoration: underline;
}


.site-title{
    display:flex;
}

.container{
    display:flex;
    width: 70%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    border:dotted gray;
    flex-wrap: wrap;
    gap:10px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: solid black;
}

.grid-container{
    display:grid;
    width: 70%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border:solid black 1px;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
}

img{
    width: 80vw;
    height: auto;
}
@media (min-width:864px){
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    .grid-container{
        width: 40%;
    }
    .container{
        width: 40%;
    }
}

footer{
    margin-top: auto;
    color:gray;
}