*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.about-me{
    background-color: khaki;
}

.container{
    display:flex;
    width: 70%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    border:dotted gray;
    flex-wrap: wrap;
    gap:10px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: solid black;
}

.grid-container{
    display:grid;
    width: 70%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border:solid black 1px;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
}
@media (min-width:864px){
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    .grid-container{
        width: 40%;
    }
    .container{
        width: 40%;
    }
}

.centered-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}