*{
    box-sizing: border-box;
}

.container{
    display:flex;
    width: 400px;
    height:400px;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    border:dotted gray;
    flex-wrap: wrap;
    gap:10px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: solid black;
}

