*{
    box-sizing: border-box;
}

.container{
    display:flex;
    width: 400px;
    height:400px;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    border:dotted gray;
    flex-wrap: wrap;
    gap:10px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: solid black;
}

.grid-container{
    display:grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid-container input[type="text"]{
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.grid-container input[type="text"]:focus{
    background-color: gray;

}
.block{
    background-color: black;
}